* {
   background-color:#1A1041;
    box-sizing: border-box;
  }
  
  /* Container for flexboxes */
  .row {
    display: flex;
    margin: 0px;
    flex-wrap: wrap;
  }
  
  /* Create four equal columns */
  .column {
    flex: 50%;
    height:33vh;
    padding: 20px;
  }

  .view iframe:hover{
    border: 3px solid #00c26a;
    border-radius: 5px;
  }

  .view{
    height:100%;
  }


  .view iframe{
    width:100%;
    height:100%;
  }

  .mg-40{
    margin-top: 40px;
  }

  label{
    color: #23ca88;
}
.btn-full-width{
    width: 100%;
    padding: .75rem 1.125rem;
    color: #fff;
    border-radius: .5rem;
    background-color: #00d977;
    font-size: 18px;
}
.btn-primary:hover,.btn-primary:active,.btn-primary:visited{
  color: #fff;
  background-color: #24de8a;
  border-color: transparent;
}
  
  /* On screens that are 992px wide or less, go from four columns to two columns */
  @media screen and (max-width: 992px) {
    .column {
      flex: 100%;
    }
  }
  
  /* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .row {
      flex-direction: column;
    }
  }